<header>
  <img
  src="assets/img/Rafael.jpg"
  alt="Rafael Fonseca - Foto de perfil"
  width="130px"
  height="130px"
  loading="eager"
  />
  <h1>Rafael Fonseca</h1>
</header>

<aside>
  <div class="container">
    <p> 🖥️ Analista de sistemas | 🚀 Desenvolvedor Júnior Full Stack Júnior| Java | Angular | SpringBoot </p>
    <p>Caçapava, São Paulo, Brasil 🇧🇷</p>
    <p>Com 1-3 anos de experiência sólida em Java, sou especialista na criação de soluções inovadoras,
      integrando eficientemente o backend com Spring Framework, API REST e Microserviços.
      Explorando ativamente o desenvolvimento Frontend com Angular, contribuí para interfaces responsivas e modernas.
      Comprometido com a prática de código limpo, colaboração ativa e busca contínua por aprendizado,
      estou aberto a oportunidades, networking e colaborações para impulsionar a transformação digital.</p>
    <p>🤝🌐 #DesenvolvedorFullStack #Java #Angular #Inovação #CódigoLimpo #TransformaçãoDigital</p>
    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/rfonseca-3a001b180" target="_blank" class="btn btn-secundary">
            LinkedIn
          </a>
        </li>
        <li>
          <a href="https://github.com/rfonseca985" target="_blank" class="btn btn-tertiary">
            GitHub
          </a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
    <img src="assets/icons/whatsapp.svg"
    alt="Icone para contato de whatsapp"
    width="22px"
    height="24px"
    />

    <figcaption>
      <a  href="https://api.whatsapp.com/send?phone=5512988458869&amp;text=Ol%C3%A1%20Rafael,%20preciso%20de%20um%20job!"
      target="_blank">
        <strong _ngcontent-ng-c3293745750="">Envie uma menssagem para:</strong>
        <p _ngcontent-ng-c3293745750="">WhatsApp: (12) 98845-8869</p></a>
    </figcaption>
  </figure>
  <figure>
    <img src="assets/icons/mail.svg"
    alt="Icone para contato de e-mail"
    width="22px"
    height="24px"
    />

    <figcaption>
      <a  href="mailto:rfonseca985@gmail.com"
      target="_blank">
        <strong _ngcontent-ng-c3293745750="">Envie um e-mail para:</strong>
        <p _ngcontent-ng-c3293745750="">rfonseca985&#64;gmail.com</p></a>
    </figcaption>
  </figure>
    </section>
  </div>
</aside>
