<header>
  <img
    src="assets/img/Rafael.png"
    alt="Rafael Fonseca - Foto de perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Rafael Fonseca</h1>
</header>

<aside>
  <div class="container">
    <p>🚀 <strong>CTO</strong> na RF Soluções Tecnológicas | 🌐 <strong>Administrador de Redes</strong> na Bristol Parts</p>
    <p>🖥️ Analista de Sistemas | Full Stack Developer: Java • Spring Boot • Angular</p>
    <p>📍 Pouso Alegre, Minas Gerais, Brasil 🇧🇷</p>

    <p>
      Com sólida experiência no ecossistema Java e infraestrutura crítica, atuo na intersecção entre
      desenvolvimento de sistemas e gestão de redes. Como <strong>CTO na RF Soluções Tecnológicas</strong>,
      lidero a visão técnica e inovação. Na <strong>Bristol Parts</strong>, gerencio a resiliência e a segurança
      da infraestrutura de redes.
    </p>
    <p>
      Especialista em Backend (Spring Framework, APIs REST e Microserviços) e focado em interfaces modernas com Angular.
      Sou pós-graduado em Desenvolvimento Java e possuo capacitações técnicas pelo IFRS em Administração de Redes e
      Segurança da Informação. Comprometido com governança de TI, código limpo e alta disponibilidade.
    </p>

    <p>🤝🌐 #CTO #NetworkAdmin #JavaDeveloper #FullStack #Infraestrutura #Inovação #TI #EstrategiaDigital</p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/rfonseca-3a001b180" target="_blank" class="btn btn-secundary">
            LinkedIn
          </a>
        </li>
        <li>
          <a href="https://github.com/rfonseca985" target="_blank" class="btn btn-tertiary">
            GitHub
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img src="assets/icons/whatsapp.svg"
          alt="Icone para contato de whatsapp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=5535984296585&amp;text=Ol%C3%A1%20Rafael,%20vi%20seu%20portf%C3%B3lio!"
            target="_blank">
            <strong>Envie uma mensagem para:</strong>
            <p>WhatsApp: (35) 98429-6585</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img src="assets/icons/mail.svg"
          alt="Icone para contato de e-mail"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="mailto:rfonseca985@gmail.com" target="_blank">
            <strong>Envie um e-mail para:</strong>
            <p>rfonseca985&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
